media screen and (max-width: 1200px) {
	.page__container {
		padding: 0 10px;
	}
	.login-menu__item {
		margin-right: 5px;
	}
	.products-header {
		padding: 0 10px;
	}
	.content-wrapper {
		padding: 0 10px;
		width: 100%;
		box-sizing: border-box;
	}
}

@media screen and (max-width:1024px) {
	.login-menu__links {
		width: 35%;
	}
	.login-menu__item {
		margin-left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	.login-form {
		width: 60%;
		&:after {
			display: none;
		}
	}
	.login-form__label {
		width: 100%;
		margin-bottom: 5px;
	}
	.login-form__input {
		width: 70%;
		float: right;
	}
	.login-form__submit {
		float: right;
		margin-right: 0;
	}
	.header-menu__list {
		display: block;
	}
	.header-menu__item {
		margin-right: 0;
	}
	.contacts__label-name {
		width: 20%;
	}
	.contacts__input {
		width: 80%;
	}
	.contacts__inner-container {
		width: 80%;
	}
}
@media screen and (max-width:768px) {
	.cookie__text {
		margin-right: 5px;
	}

	.main-header {
		padding-bottom: 25px;
		&.open {
			background: $white-opacity;
			.header-menu__container {
				&:before {
					opacity: 1 !important;
					visibility: visible;
					height: 100%;
				}
			}
		}
	}
	.main-logo__container {
		@include clearfix;
	}
	.mobile-menu {
		display: block;
	}
	.menu__hover-bg {
		display: none !important;
	}
	.header-menu__list {
		border-top: 1px solid $main-blue;
		visibility: none;
		opacity: 0;
		transition: opacity 0.3s;
		position: absolute;
		width: 100%;
		background:#ffffff;
		border-bottom: 1px solid $main-blue;
		right: -100%;
	}
	.header-menu__container {
		margin-right: 0;
		float: none;
		display: block;
		margin-top: 55px;
	}
	.header-menu__item {
		margin-right: 0;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid $main-blue;
	}
	.header-menu__inner-list {
		visibility: visible;
		opacity: 1;
		position: static;
		border:none;
		margin-left: 30px;
		margin-top: 0;
		padding: 0;
	}
	.header-menu__item_it {
		&:hover {
			background:transparent;
		}
		border: none;
	}
	.header-menu__link_it {
		display: none;
	}
	.lang-menu__list {
		opacity: 1;
		visibility: visible;
		position: static;
		background:transparent;
	}
	.ul-select__item {
		display: inline-block;
		margin-right: 10px;
	}
	.small-slider__container {
		width: 100%;
		float: none;
		margin-bottom: 10px;
		img {
			width: 100%;
			min-width: 400px;
			height: auto;
		}
	}
	.main-content__aside {
		float: none;
		width: 100%;
	}
	.news_homepage {
		overflow: visible;
		height: auto;

	}
	.company_homepage {
		overflow: visible;
		height: auto;
		img{
			position: static;
		}
	}
	.main-footer {
		text-align: center;
	}
	.footer__contacts {
		float: none;
	}
	.menu_footer__list {
		float: none;
		margin: 0;
		margin-bottom: 5px;
	}
	.products__list {
		text-align: center;
	}
	.products-detail__container {
		float: none;
		width: 100%;
		max-width: none;
		margin-bottom: 40px;
	}
	.components__container {
		float: none;
		width: 100%;
		max-width: none;
	}
	.content__info {
		text-align: center;
	}
		.slider__container {
		.owl-next,
		.owl-prev {
			display: none;
		}
	}
	.company__article {
		img {
			width: 60%;
		}
	}
	.contacts__label-name {
		width: 30%;
	}
	.contacts__input {
		width: 70%;
	}
	.contacts__inner-container {
		width: 70%;
	}
	.news-detail__download {
		width: 100%;
		text-align: center;
		a {
			margin-right: 10px;
		}
	}
}

@media screen and (max-width:580px) {	
	html {
		font-size: 20px;
	}
	.products-detail__container {
		.owl-next,
		.owl-prev {
			display: none;
		}
	}
	.cookie-bar {
		text-align: center;
	}
	.login-menu__slide-btn {
		bottom: -28px;
		right: 50%;
		transform: translateX(50%);
	}
	.main-header__logo {
		img {
			width: 150px;
		}
	}
	.mobile-menu {
		margin-top: 0;
	}

	.login-form {
		width: 100%;
		margin-right: 0;
	}
	.login-form__label {
		margin-right: 0;
	}
	.login-form__input {
		width: calc(100% - 140px);
		margin-right: 10px;
	}
	.login-form__submit {
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.login-menu__links {
		float: none;
		width: 100%;
	}
	.login-menu__item {
		margin: 10px 0;
	}
	
	.small-slider__title {
		top: 38%;
		right: 14%;
	}
	.small-slider__menu {
		top: 45%;
	}
	.products-header__title {
		float: none;
	}
	.products-header__list {
		margin-bottom: 12px;
		margin-left: 10px;
		float: none;
	}
	.products-header__item {
		display: block !important;
		border: none !important;
	}
	.products-header__link {
		padding: 10px 0;
	}
	.company__article {
		padding: 0 5px;
		box-sizing: border-box;
		img {
			float: none !important;
			width: 100%;
			margin: 0 !important;
			margin-bottom: 10px;
		}
		p {
			text-align: center;
		}	
	}
	.contacts {
		float: none;
		width: 90%;
		margin-bottom: 20px;
		max-width: none;
		margin: 0 auto;
	}
	.contacts__form {
		float: none;
		width: 100%;

	}
	.contacts__input {
		width: 100%;
	}
	.contacts__label-name {
		width: 100%;
		margin-bottom: 10px;
		float: none;
	}
	.contacts__inner-container {
		width: 100%;
	}
	.contacts__checkbox-container {
		float: none;
	}
	.contacts__submit {
		width: 80%;
		margin: 0 auto;
		float: none;
		display: block;
	}
	.contacts__address,
	.contacts__phones, {
		display: inline-block;
		width: 48%;
		vertical-align: top;
	}
	.contacts__phones {
		text-align: right;
	}
	.contacts__email {
		text-align: center;
		margin-bottom: 20px;
	}
	.news-detail__content {
		img {
			float: none;
			width: 100%;
			margin-right: 0;
		}
	}
	.news-detail__slider {
		.owl-next,
		.owl-prev {
			display: none;
		}
	}
	.news-detail__download {
		a {
			display: block;
			margin-bottom: 10px;
			margin-right: 0;
		}
	}
	.news-detail__slider-wrap {
		&:after {
			width: 100%;
		}
	}
	.map {
		height: 70vh;
	}
}
@media screen and (max-width: 320px) {
	.login-menu__wrap {
		text-align: center;
	}
	.login-form {
		margin: 0;
	}
	.login-form__label {
		margin: 0;
		margin-bottom: 10px;
		span {
			display: inline-block;
			width: 100%;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	.login-form__input {
		box-sizing: border-box;
		margin: 0;
		float: none;
		line-height: 1.5rem;
		width: 80%;
	}
	.login-form__submit {
		float: none;
		width: 80%;
		margin-right: 0;
	}
	.login-menu__links {
		display: inline-block;
		width: 80%;
	}
	.login-menu__item {
		width: 100%;
		margin:0;
		margin-bottom: 10px;
	}
	.contacts__address,
	.contacts__phones, {
		display: block;
		width: 100%;
		vertical-align: top;
		text-align: center;
	}
	.contacts__email {
		text-align: center;
	}
		.contacts__submit {
		width: 100%;
	}
}


