extends ../main
block title
	| template
block content
	.container
		h1.header
			| Выберите друзей
			.close-btn
		.filter
			label.filter__label.filter__label_left
				i.fa.fa-search
				input(class="filter__input filter__input_left" type="text" placeholder='Начните вводить имя друга')
			label.filter__label.filter__label_right
				i.fa.fa-search
				input(class="filter__input filter__input_right" type="text" placeholder='Начните вводить имя друга')
		#columns
			.column_left
				h2
					| Ваши друзья
				ul#leftList
			.column_right
				h2
					| Друзья в списке
				ul#rightList
		.footer
			button(type='button' id="saveBtn")
				| Сохранить
				