
@import "_misc/normalize.scss";

@import "_misc/_mixins.scss";

*{
	box-sizing: border-box;
	font-size: 12px;
}
html, body {
	width: 100%;
	height: 100%;

}
body{
	background: #999999;
	position: relative;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.container {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	max-width: 621px;
	width: 95%;
	height: 70%;
	border-radius: 10px;
	background: #ffffff;
	overflow: hidden;
}

.header {
	height: 46px;
	font-size: 16px;
	background: #ff8663;
	margin: 0;
	padding: 15px;
	color: #ffffff;
}
.filter {
	@include clearfix;
	background: #f0f0f0;
	padding: 10px;
	width: 100%;
	height: 46px;
}
.filter__label {
	position: relative;
	width: 50%;
	float: left;
	padding: 0 5px;
}
.fa-search {
	position: absolute;
	top: 7px;
	left: 14px;
	color: #acacac;
}
.filter__input {
	outline: none;
	border: none;
	width: 100%;
	border-radius: 20px;
	padding: 5px 5px 5px 30px;
	transition: all 0.3s;
	&:focus {
		box-shadow: inset 0 0 2px 0 green;
	}
}
#columns {
	height: calc(100% - 138px);
	@include clearfix;
		font-size: 0;

}
.column_left,
.column_right {
	color: #4f4f4f;
	padding-left: 15px;
	font-size: 0;
	display: inline-block;
	width: 50%;
	height: 100%;

	h2 {
		font-size: 12px;
		margin: 0;
		font-weight: 800;
		padding: 5px 0;
		border-bottom: 1px solid #f0f0f0;
	}
}
ul {
	font-size: 12px;
	font-weight: 800;
	height: calc(100% - 30px);
	overflow-x: hidden;

}
.column_left {
	border-right: 1px solid #f0f0f0;
}
.column_right {
	margin-left: -1px;
}
.footer {
	background: #f0f0f0;
	padding: 7px;
	width: 100%;
	text-align: right;
	height: 46px;
}
#saveBtn {
	background:#ff8663;
	padding: 10px 20px;
	color: #fff;
	border-radius: 20px;
	border: none;
	outline: none;
	&:hover {
		background: #FF6A3F;
	}
	&:active {
		box-shadow: inset 0 0 5px 0 #C1411C;
	}
}

.img-wrapper {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 5px;
}
.friend-item {
	@include clearfix;
	position: relative;
	width: 100%;
	padding-right: 25px;
	transition: all 0.3s;
	padding: 5px 15px 5px 60px;
	min-height: 55px;
	border-bottom: 1px solid #f0f0f0;
	&:before {
		display: inline-block;
		content: '';
		height: 100%;
		vertical-align: middle;
		min-height: 55px;
	}
	&:hover {
		background: #f0f0f0;
	}
	.title {
		display: inline-block;
		vertical-align: middle;

	}
}
.add-btn {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
	height: 18px;
	&:after {
		top: 0;
		left: 7px;
		content: '';
		position: absolute;
		width: 4px;
		background:#c4c4c4;
		height: 100%;
		border-radius: 3px;
	}
	&:before {
		left: 0;
		top: 7px;
		content: '';
		position: absolute;
		height: 4px;
		background:#c4c4c4;
		width: 100%;
		border-radius: 3px;
	}
}
#rightList {
	.add-btn {
		transform: rotate(45deg) translateY(-50%);
		right: 10px;
	}
	overflow-y: scroll;
}
#isSaved {
	opacity: 0;
	font-size: 12px;
	color: #bcbcbc;
	font-style: italic;
	margin-right: 10px; 
	transition: all 0.3s;
	&.visible {
		opacity: 1;
	}
}

::-webkit-scrollbar { 
	width: 6px;
	position: absolute;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;  
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
} 
::-webkit-scrollbar-thumb { 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	background: #c4c4c4; 
} 
